/* Special Fonts */
@font-face {
  font-family: DINMedium;
  src: url(../fonts/DINMedium.ttf); }
@font-face {
  font-family: SameSameButDifferent;
  src: url(../fonts/SameSameButDifferent.ttf); }
@font-face {
  font-family: TitilliumText22L001;
  src: url(../fonts/TitilliumText22L001.otf); }
/*Global*/
body {
  background: #0099b5;
  font-family: Arial; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

a {
  display: block;
  float: left;
  color: #000;
  font-size: 11px; }
  a:hover {
    text-decoration: none; }

ul {
  float: left; }
  ul li {
    list-style: none;
    float: left; }

.footer {
  background: url(../img/footerBg.jpg) 0 0 repeat;
  border-top: 2px solid #003344;
  width: 100%;
  bottom: 0;
  color: #ffb000;
  font-size: 11px;
  margin-top: 50px; }
  .footer p {
    float: left;
    padding: 40px 0 30px; }
  .footer ul {
    padding: 40px 0 30px;
    float: right; }
  .footer a {
    color: #ffb000;
    font-size: 11px;
    margin: 0 5px; }

/* Clouds to animate */
#clouds {
  position: absolute;
  top: 0;
  opacity: 0; }
  #clouds img {
    position: absolute;
    left: 0; }

/*Content*/
.main-wrapper {
  border-top: 3px solid #fff273; }

.header {
  font-family: SameSameButDifferent;
  color: #fff;
  font-size: 36pt;
  text-transform: uppercase;
  text-align: center;
  float: left;
  margin-bottom: 50px; }
  .header p {
    float: right;
    padding: 1% 5%; }

.logo {
  width: 80px;
  height: 70px;
  background: url(../img/hangar_sprite.png) 0 0 no-repeat;
  margin: 0 2px; }

.search-container {
  background: #036482;
  border: 2px solid #025873;
  border-radius: 10px;
  margin-bottom: 50px; }

#search {
  background: none;
  border: none;
  color: #fff;
  width: 80%; }

#submit {
  background: url(../img/hangar_sprite.png) -86px 3px no-repeat;
  border: none;
  width: 20px;
  float: right; }

.list-song-wrapper {
  margin: 0;
  padding: 0;
  min-height: 250px;
  text-transform: capitalize; }
  .list-song-wrapper .playBtn {
    background: url(../img/hangar_sprite.png) top right no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    margin: 14px 5px; }
  .list-song-wrapper .song-details {
    float: left;
    margin: 12px 5px; }
    .list-song-wrapper .song-details p {
      margin: 0;
      padding: 0; }
    .list-song-wrapper .song-details .title {
      font-family: DINMedium;
      font-size: 14px; }
    .list-song-wrapper .song-details .artist {
      font-style: italic;
      font-size: 11px;
      color: #333; }
  .list-song-wrapper li {
    margin-bottom: 2px;
    padding: 5px; }
  .list-song-wrapper li:nth-child(odd) {
    background: #80cedb; }
  .list-song-wrapper li:nth-child(even) {
    background: #4db8cb; }
  .list-song-wrapper form {
    float: right;
    width: 120px;
    margin-top: 12px; }
    .list-song-wrapper form .leftDay {
      border-radius: 10px 0 0 10px; }
    .list-song-wrapper form .rightDay {
      border-radius: 0 10px 10px 0; }

.top-button {
  border-radius: 0 0 10px 10px;
  margin: 0 2px;
  padding: 0 26px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #FCB317), color-stop(1, #FFEE6C));
  background-image: -o-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -moz-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -webkit-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -ms-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: linear-gradient(to top, #FCB317 30%, #FFEE6C 100%); }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #FCB317), color-stop(1, #FFEE6C));
  background-image: -o-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -moz-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -webkit-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: -ms-linear-gradient(top, #FCB317 30%, #FFEE6C 100%);
  background-image: linear-gradient(to top, #FCB317 30%, #FFEE6C 100%);
  padding: 0;
  display: block;
  font-weight: bold;
  border: 1px solid #b29d11;
  width: 50%;
  float: left;
  text-align: center;
  font-family: TitilliumText22L001; }

input[type="radio"]:checked + label {
  background: #e1bc30; }

input:-webkit-autofill {
  background: none !important;
  border: none !important; }

input[type="text"] {
  background: none !important;
  border: none !important; }

/* MEDIA QUERIES */
@media (max-width: 600px) {
  #clouds {
    position: relative;
    opacity: 0.5; }
    #clouds img {
      width: 100%; } }
@media (max-width: 360px) {
  .header p {
    font-size: 26px;
    padding: 7% 0 0; }

  .logo {
    width: 30%;
    margin: 0; }

  .list-song-wrapper form {
    width: 125px; }

  .footer {
    font-size: 11px; }
    .footer p {
      font-size: 5pt;
      padding-bottom: 8px; }
    .footer ul {
      font-size: 5pt;
      padding-bottom: 8px; }
    .footer a {
      font-size: 5pt; }

  #clouds {
    position: relative;
    opacity: 0.5; }
    #clouds img {
      width: 100%; } }
@media (max-width: 320px) {
  .top-button {
    padding: 0 20px; }

  .logo {
    width: 35%; }

  .header {
    margin-bottom: 20px; }
    .header p {
      font-size: 21px; }

  .footer {
    font-size: 4pt; }
    .footer p {
      font-size: 4pt;
      padding-bottom: 5px; }
    .footer ul {
      font-size: 4pt;
      padding-bottom: 5px; }
    .footer a {
      font-size: 4pt; } }

/*# sourceMappingURL=style.css.map */
